// section header
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $accent-color;
}

.header__wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  gap: 50px;
}

.header__link {
  // color: $text-color;
  color: $white-color;
  // padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: $tablet) {
    color: $white-color;
    font-size: 30px;
  }
}

.header__link:hover,
.header__link:focus {
  // color: $accent-color;
  color: yellow;

  @media screen and (max-width: $tablet) {
    color: #ff6666;
  }
}

.header__logan {
  // color: $title-color;
  color: $white-color;
  font-family: Mulish;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// .header__tel img {
//   display: flex;
// }

// .header__tel a {
//   color: yellow;
//   font-size: 30px;
// }

// .tel__calls {
//   display: block;
//   margin-top: 5px;
//   font-size: 20px;
// }

.header__tel {
  color: $white-color;
  padding: 10px;
  background-color: #ff6666;
  border-radius: 10px;
}

.header__tel:active {
  color: $accent-color;
  background-color: #fff;
}
